@font-face {
  font-family: "inter-Light";
  src: url(/Inter-4.1\ fonts/Inter-Light.woff2) format("woff2");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "inter-Regular";
  src: url(/Inter-4.1\ fonts/Inter-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "inter-Medium";
  src: url(/Inter-4.1\ fonts/Inter-Medium.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "inter";
  src: url(/Inter-4.1\ fonts/Inter-Regular.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "inter-Bold";
  src: url(/Inter-4.1\ fonts/Inter-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "inter-ExtraBold";
  src: url(/Inter-4.1\ fonts/inter-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "interDisplay-Bold";
  src: url(/Inter-4.1\ fonts/InterDisplay-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "interDisplay-ExtraBold";
  src: url(/Inter-4.1\ fonts/InterDisplay-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "interDisplay-Black";
  src: url(/Inter-4.1\ fonts/InterDisplay-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
body {
  background-color: #000;
  color: #fff;
}
header {
  /* border: 2px solid pink; */
}
.navbar-container {
  /* border: 2px solid yellow; */
  width: 60%;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}
.navbar-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-container ul li {
  margin-left: 1rem;
  margin-top: 0.3rem;
  list-style: none;
}
.navbar-container ul li a {
  color: #ffffffce;
  text-decoration: none;
  margin-left: 1rem;
  font-family: "inter-Bold", sans-serif;
  letter-spacing: .5px;
}
.social {
  margin-top: 0.2rem;
}
.twitter a {
  border: 2px solid white;
  padding: 0.2rem 0.7rem;
  text-decoration: none;
  border-radius: 10px;
  border-color: #ffffff4b;
  color: #ffffffce;
  margin-left: .5rem;
  font-size: 0.7rem;
  font-family: "inter", sans-serif;
}
.linkedin a {
  border: 2px solid white;
  padding: 0.2rem 0.7rem;
  text-decoration: none;
  border-radius: 10px;
  border-color: #ffffff4b;
  color: #ffffffce;
  margin-left: .5rem;
  font-size: 0.7rem;
  font-family: "inter", sans-serif;
}
.git a {
  border: 2px solid white;
  padding: 0.2rem 0.7rem;
  text-decoration: none;
  border-radius: 10px;
  border-color: #ffffff4b;
  color: #ffffffce;
  margin-left: .5rem;
  font-size: 0.7rem;
  font-family: "inter", sans-serif;
}

.heroContainer {
  /* border: 2px solid blue; */
  width: 60%;
  margin: 5rem auto 0;
}
.heroItems {
  /* border: 2px solid pink; */
  margin: 0 auto;
}
.heroItems h1 {
  font-size: 3.5rem;
  font-family: "interDisplay-ExtraBold";
  line-height: 1.3;
  text-align: center;
}
.heroItems p {
  font-size: 1.4rem;
  text-align: center;
  color: #ffffffce;
  font-family: "inter-Regular";
  font-family: "inter-Light";
}
